.statistics {
  margin: 0 auto 30px;
  width: 500px;
  background-color: rgb(247, 249, 242);
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(29, 29, 29, 0.5);
}

.title {
  text-align: center;
  padding: 30px 0;
}

.statList {
  display: flex;
  list-style: none;
  padding-inline-start: 0%;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: blue;
  align-items: center;
  justify-content: center;
  height: 80px;

  flex-basis: calc(100% / 5);
}

.label,
.percentage {
  display: flex;
  align-items: center;
  color: #ffffff;
}
